@import url("https://fonts.googleapis.com/css?family=Gruppo&display=swap");

.banner-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 6rem;
  width: 100%;
}

.money-pic {
  /* border: 1px solid blue; */
  background-image: url("../img/graphs.jpg");
  height: 30rem;
  background-position: center;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  display: flex;
  height: 40vh;
  /* border: 2px solid red; */
}

a {
  text-decoration: none;
  margin-right: 1rem;
  font-size: 2rem;
  color: darkcyan;
}

.text {
  text-align: center;
  margin: auto;
  padding: 1rem 2rem;
  font-family: "Gruppo";
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
}

.text span {
  text-decoration: underline;
  color: darkcyan;
}

.text.quote {
  background-color: darkcyan;
  color: wheat;
  font-size: 1.3rem;
  padding: 1.5rem 1rem;
  text-align: left;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text.quote em {
  background-color: white;
  color: darkcyan;
  padding: 4px;
  margin: 0 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
  /* border: 2px solid darkmagenta; */
  width: 30%;
  height: 115%;
}

.img.one {
  background-image: url("../img/payment-process.png");
  background-position: center;
  background-size: cover;
}

.img.two {
  background-image: url("../img/financial-growth.png");
  background-position: center;
  background-size: cover;
  flex-shrink: 1;
  padding: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img.three {
  background-image: url("../img/easy-money.png");
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .banner-container {
    /* background-color: tomato; */
    display: grid;
  }

  .card {
    /* border: 3px solid darkblue;  */
    display: grid;
    height: 90vh;
  }

  .text {
    /* border: 2px solid white; */
    color: black;
  }

  .img {
    /* border: 2px solid black; */
    justify-self: center;
    grid-row-start: 2;
  }

  .img.one {
    width: 60%;
  }

  .img.two {
    margin: 0 10px;
    width: 95%;
    height: 50%;
    margin: 0 20px;
    align-items: flex-end;
  }

  .img.three {
    width: 90%;
  }

  .text.quote p {
    letter-spacing: 3px;
    line-height: 2rem;
  }
}
